*{
    color: #696969;
}
.main-content{
    width: 700px;
    margin: 0 auto;
}
.choosenTagActive{
    background-color: #fff4928a;
}
@media screen and (min-width: 700px) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}
@media screen and (max-width: 540px){
    .main-content{
        width: 100%;
    }
}
@media screen and (min-width: 1024px){
    .main-content{
        width: 1000px;
    }
}
@media screen and (min-width: 1440px){
    .main-content{
        width: 1400px;
    }
}